---
description:
    name: XKCD
url:
    home_url: http://xkcd.com/
    base_url: http://xkcd.com/
navigation:
    image: //div[@id="middleContent"]//div[@class="s"]//img/@src
    first: //div[@class="menuCont"][1]/ul/li[1]/a/@href
    prev: //div[@class="menuCont"][1]/ul/li[2]/a/@href
    next: //div[@class="menuCont"][1]/ul/li[4]/a/@href
    last: //div[@class="menuCont"][1]/ul/li[5]/a/@href
    sleep: 0.25
